body {
    background-color: #343a40; /* Cinza escuro */
}

.navbar-brand i {
    margin-right: 10px;
}

footer {
    width: 100%;
    bottom: 0;

}

h1{
    color: rgb(8, 209, 8);
}

h2{
    font-size: 18px;
    font-style: italic;
    font-family: 'Arial';
}

b{
    color: rgb(52, 248, 52);
}

#cab a:link, #cab a:visited{

    color: #FFF;
    padding: 8px 12px;
}

#cab a:hover{

    color: white;
    background: rgb(11, 230, 11);
    text-decoration: none;
}

.nav {
    padding: 16px;

}

.nav1 {
    padding-top: 16px;

}
